#sddm
{	margin: 0;
	padding: 0;
	z-index: 999;
}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 12px arial;
}

#sddm .sep {
	background: url(../images/ch_menu_separator.jpg) no-repeat right;
}

#sddm li a {	
	display: block;
	margin: 0 1px 0 0;
	padding: 15px 0px;
	width: 80px;
	color: #656565;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

#sddm li a:hover
{	
	text-decoration: underline; 
	color: #656565;
	background: #F1C737;
}
	/* background-color: #c59105; */

#sddm div {	
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	border: 1px solid #CCCCCC;
}

#sddm div a {	
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #FFF;
	color: #656565;
	font: 12px arial
	min-width: 125px;
	width: auto;
}

	/* background: #c59105; */
#sddm div a:hover {	
	background: #F1C737;
	color: #FFF
}

